stock-track-ke/data/auth/stock-track-ke-firebase-adminsdk-2jkhe-45a8dc21a6.json
.vscode/launch.json
stock-track-ke/.vscode/launch.json
stock-track-ke/.vscode/settings.json
stock-track-ke/stock_track_ke/.vscode/extensions.json
stock-track-ke/stock_track_ke/lib/TrackingPages/active_tracks.dart
stock-track-ke/data/__pycache__/NSE_companies.cpython-310.pyc

stock-track-ke/data/__pycache__/NSE_data.cpython-310.pyc
stock-track-ke/stock_track_ke/pubspec.lock
stock-track-ke/Kamande Alvin project Documentation (chapter 4).pdf
stock-track-ke/project screenshots/Android/android change password pop up.jpg
stock-track-ke/project screenshots/Android/android change username popup.jpg
stock-track-ke/project screenshots/Android/android search function.jpg
stock-track-ke/project screenshots/code snippets/Screenshot from 2023-04-01 16-36-40.png
stock-track-ke/project screenshots/code snippets/Screenshot from 2023-04-01 16-48-40.png
stock-track-ke/project screenshots/code snippets/Screenshot from 2023-04-01 16-48-51.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-43-40.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-43-51.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-44-03.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-44-16.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-44-44.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-44-50.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-00.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-09.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-15.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-23.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-26.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-29.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-34.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-45-51.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-47-03.png
stock-track-ke/project screenshots/web/Screenshot from 2023-03-27 10-47-15.png
