<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117485835423-vgqgelvk2edtsgjcm2tql5klbr2ebnsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117485835423-vgqgelvk2edtsgjcm2tql5klbr2ebnsq</string>
	<key>API_KEY</key>
	<string>AIzaSyDb-bjbFdX6hGUsVV_SImGCeYP4Ve4q0G0</string>
	<key>GCM_SENDER_ID</key>
	<string>117485835423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockTrackKe</string>
	<key>PROJECT_ID</key>
	<string>stock-track-ke</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-track-ke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117485835423:ios:0ff52bdd7e5a4ef12bbeaa</string>
</dict>
</plist>